<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <!-- My Css -->
    <link rel="stylesheet" href="../assets/css/index.css" />
</head>

<body>
    <!-- Nav -->
    <nav class="navbar bg-white shadow">
        <div class="container">
            <a class="navbar-brand" href="#">
                <!-- <img
                        src="/docs/5.2/assets/brand/bootstrap-logo.svg"
                        alt="Bootstrap"
                        width="30"
                        height="24"
                    /> -->
                INFOTREN
            </a>
        </div>
    </nav>

    <!-- Content -->
    <div class="container-fluid mt-5 mb-5" id="content">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h3>Pondok Pesantren</h3>
                <span class="fs-6 text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
            </div>
            <div class="col-md-8 mb-3">
                <div class="card shadow mb-3">
                    <img src="../images/JNqRdOfSZOoSeRvOMyycSF1glLtKvGTxHHxzBPWE.jpg" alt="" class="fluid">
                    <div class="mt-3 p-3 text-justify text-secondary">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium hic eveniet quaerat
                            libero inventore cum animi, in culpa ullam vitae atque eligendi, illum labore officia, natus
                            dolores dolore aliquid accusamus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium hic eveniet quaerat
                            libero inventore cum animi, in culpa ullam vitae atque eligendi, illum labore officia, natus
                            dolores dolore aliquid accusamus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium hic eveniet quaerat
                            libero inventore cum animi, in culpa ullam vitae atque eligendi, illum labore officia, natus
                            dolores dolore aliquid accusamus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium hic eveniet quaerat
                            libero inventore cum animi, in culpa ullam vitae atque eligendi, illum labore officia, natus
                            dolores dolore aliquid accusamus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium hic eveniet quaerat
                            libero inventore cum animi, in culpa ullam vitae atque eligendi, illum labore officia, natus
                            dolores dolore aliquid accusamus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium hic eveniet quaerat
                            libero inventore cum animi, in culpa ullam vitae atque eligendi, illum labore officia, natus
                            dolores dolore aliquid accusamus!</p>
                    </div>
                </div>

                <div class="card shadow">
                    <div class="card-header">Galeri Pesantren</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="../images/gfCBtijUYzm3wTQHhepxxfFbg5AoRoxAkofYqYbR.jpg" alt=""
                                    class="img-thumbnail">
                            </div>
                            <div class="col-md-4">
                                <img src="../images/gfCBtijUYzm3wTQHhepxxfFbg5AoRoxAkofYqYbR.jpg" alt=""
                                    class="img-thumbnail">
                            </div>
                            <div class="col-md-4">
                                <img src="../images/gfCBtijUYzm3wTQHhepxxfFbg5AoRoxAkofYqYbR.jpg" alt=""
                                    class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <!-- Identitas Pesantren -->
                <div class="card shadow mb-3">
                    <div class="card-header">Identitas Pesantren</div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Nama Pesantren</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Pengasuh</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Alamat</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Jarak</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Konsentrasi</small>
                            </div>
                            <div class="col-8">
                                <small><input type="checkbox" checked disabled> Pesantren</small><br>
                                <small><input type="checkbox" checked disabled> Pesantren</small><br>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Jenjang</small>
                            </div>
                            <div class="col-8">
                                <span class="badge bg-primary">SMP</span>
                                <span class="badge bg-primary">SMA</span>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Kontak</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>PA/PI</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Lurah PA</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Lurah PI</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Jumlah Santri PA</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Jumlah Santri PI</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Instagram</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Facebook</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Youtube</small>
                            </div>
                            <div class="col-8">
                                <small>Pondok Pesantren</small>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <small>Website</small>
                            </div>
                            <div class="col-8">
                                <small><a href="" class="text-decoration-none">Pondok Pesantren</a></small>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card shadow mb-3">
                    <div class="card-header">Biaya Pendidikan</div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>No</th>
                                <th>Keterangan</th>
                                <th>Nominal</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>SPP</td>
                                <td>100000</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Khataman</td>
                                <td>100000</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- Maps -->
                <div class="card shadow">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7914.5174265959895!2d109.89620520895387!3d-7.3248112005445885!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c3e6fc196a127dc!2sPPTQ%20Al-Asy&#39;ariyyah!5e0!3m2!1sid!2sid!4v1664475770268!5m2!1sid!2sid"
                        width="428" height="400" style="border:0;" class="card-maps" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <div class="mt-5 mb-5">
        <div class="d-flex justify-content-center mt-5 text-footer">Copyright &copy ITQ Universitas Sains Al-Qur'an
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- My Js -->
    <script src="../assets/js/index.js"></script>
</body>

</html>
